@model ConvertViewModels

<h2>Results of Conversion</h2>
<div class="row">         <!--Value , Choose option, Results-->
<div class="column"></div>
    <h3>Value:</h2>
    <p>@Model.ValToConvert</p>
  <div class="column"></div>
    <h3>Type of Conversion:</h2>
    <p>@Model.ConvertType</p>
  <div class="column"></div>
    <h3>Result:</h2>
    <p>@Model.ConvertVal</p>
</div>